*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background: black;
}
nav{
    max-width: 100%;
    /* width: 100%; */
    height: 80px;
    justify-content: space-between;
    display: flex;
    background: black;
    color: white;
    padding: 10px 10px;
}
.logo{
    font-size: 30px;
    margin-left: 20px;
    padding: 10px 10px;
}
.menu ul{
    display: flex;
    gap: 20px;
    padding: 10px 10px;
    list-style-type: none;
}
.menu ul li a{
 text-decoration: none;
 color: white;
 margin: 10px 10px;
 padding: 15px 10px;
 font-size: 20px;
}
.action{
    margin-right: 50px;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    background: rgb(73, 73, 206);
    border: 2px solid rgb(73, 73, 206);
    text-align: center;
    cursor: pointer;
}
.underline{
    background: white;
    height: 2px;
}
main{
    max-width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    background: black;
    color: white;
}
main .container{
    width: 300px;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.container button{
    text-align: center;
    margin: 10px 10px;
    width: 150px;
    padding: 10px 10px;
    border-radius: 5px;
    background: rgb(73, 73, 206);
    border: 2px solid rgb(73, 73, 206);
    color: white;
    cursor: pointer;
}
main h2{
    font-size: 50px;
    margin: 10px 10px;
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
main p{
    font-size: 18px;
}
.services{
    max-width: 100%;
    height: 600px; 
    text-align: center;
    background: black;
}
.services h4{
    padding: 10px 10px;
    margin-bottom: 5px;
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.p{
    font-size: 34px;
    margin: 5px 10px;
    padding: 10px 10px;
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.services-box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
.services-box .service{
    width: 350px;
    height: 200px;
    border-radius: 8px;
    background: #3d3d3c;
    color: white;
}
.content{
    text-align: left;
    padding: 10px 10px;
}
.content span{
    padding: 15px 15px;
    border-radius: 50%;
    font-size: 30px;
    background: #5c5c5a;
    margin: 10px 10px;
}
.content .more{
    padding: 10px 0px;
    cursor: pointer;
    font-size: 15px;
}

.our-templates{
    width: 100%;
    height: 800px;
    text-align: center;
    padding: 10px 10px;
    background: black;
}
.our-templates h3{
    margin-top: 30px;
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.temp-content{
    margin: 10px;
    height: 700px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
.info{
    padding: 10px 10px;
    margin: 10px 10px;
    justify-content: left;
    text-align: left;
    color: white;
}
.info h2{
    font-size: 35px;
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
.info button{
    margin: 10px 5px;
    padding: 10px 10px;
    border-radius: 5px;
    background: rgb(73, 73, 206);
    border: 2px solid rgb(73, 73, 206);
    color: white;
}
.temp-content img{
    width: 400px;
    height: 500px;
    border-radius: 8px;
    margin-right: 100px;
}

.testmonial{
    width: 100%;
    height: 600px;
    text-align: center;
    padding: 10px 10px;
    background: black;
}
.testmonial h3, h1{
    margin: 10px 10px;
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
.testmonial-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.testmonial-box .box{
    width: 350px;
    height: 250px;
    border-radius: 8px;
    background: #3d3d3c;
    color: white;
}
.test-info{
    text-align: left;
    padding: 10px 10px;
    margin: 10px 10px;
}
.test-info h3{
    color: white;
}
.test-info img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
}

@media only screen and (max-width: 499px) {
    .menu{
        display: none;
    }
    .action{
        display: none;
    }
}

.accordion{
    max-width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background: black;
    color: white;
    text-align: center;
}
.accordion h3{
    padding: 10px 10px;
    margin: 10px 10px;
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
.content-container {
    width: 400px;
    height: 60px;
    background: #e5f5d5;
    color: black;
    border-radius: 8px;
    box-shadow: 0 0 6px;
    justify-content: center;
    text-align: left;
    padding: 10px 10px;
    margin: 10px auto; 
}

.content-container h2{
    padding: 10px 10px;
    border-bottom: 1px solid black;
    font-size: 18px;
    justify-content: space-between;
}
.content-container p {
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.faq-container .content-container .active .answer{
    height: 50px;
}

/*RESPONSIVENESS OF THE WEBSITE */
@media only screen and (max-width: 499px){
    .services{
        height: auto;
    }
.temp-content{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding: 10px 10px;
    }
    .temp-content .temp-content{
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .temp-content img{
        height: 350px;
        width: 250px;
        margin: auto;
    }
    .testmonial{
        height: auto;
    }
}
.contacts{
    width: 100%;
    height: 400px;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 15px;
    color: white;
    text-align: center;
    justify-content: center;
}
.contacts h2{
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
.contacts-container{
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: 10px 150px;
    padding: 10px 10px;
    gap: 20px;
}
.contacts-container .web-info{
    padding: 10px 10px;
    margin: 10px 10px;
    justify-content: left;
}
.contacts-container .web-info p{
    padding: 5px 10px;
    cursor: pointer;
    justify-content: left;
}
footer{
    width: 100%;
    height: 80px;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
    border-top: 1px solid white; 
}
footer .service{
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 10px 10px;
}

@media only screen and (max-width: 764px){
.contacts-container{
    max-width: 100%;
    display: flex;
    margin: auto;
}

}